[Unit]
Description=Job Processor Service jobproc1
After=network.target

[Service]
User=REPLACE_ME_USER
WorkingDirectory=REPLACE_ME_APP_DIR
ExecStart=/usr/bin/java -jar REPLACE_ME_APP_DIR/bin/jobProc-fat.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
